.catalog {
    padding-bottom: 100px;

    &__content {
        margin-top: 60px;
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;

        &_active {
            display: flex;
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
    }

    &__tab {
        width: 220px;
        height: 50px;
        margin: 0 5px;
        border: 2px solid #d0d0d0;
        color: #6b6b6b;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        line-height: 48px;
        transform: skewX(-25deg);
        cursor: pointer;
        transition: 0.5s all;

        &:hover {
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            border: none;
        }

        div {
            transform: skewX(25deg);
        }

        &_active {
            border: none;
            background-color: $main-color;
            color: #ffffff;
        }
    }



    &-item {
        width: 300px;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        color: #0d0d0d;
        overflow: hidden;
        margin-bottom: 20px;

        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }

        &__subtitle {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }

        &__descr {
            margin-top: 16px;
            font-size: 14px;
            line-height: 17px;
            font-weight: 300;
            text-align: center;
        }

        &__link {
            display: block;
            color: $main-color;
            font-size: 14px;
            font-weight: 500;
            margin: 0 auto;
            margin-top: 17px;
            text-align: center;
            text-decoration: underline;
            text-transform: uppercase;

            &:hover {
                color: $main-color;
            }
        }

        hr {
            margin-top: 19px;
            margin-bottom: 21px;
            border-top: none;
            background-color: #e8e8e8;
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__old-price {
            color: #555555;
            font-size: 14px;
            font-weight: 300;
            text-align: left;
            text-decoration: line-through;
        }

        &__price {
            color: #050505;
            font-size: 20px;
            font-weight: 700;
            text-align: left;
        }

        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }

        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;

            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }

        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            padding-right: 20px;
            transform: translateX(0%);
            transition: .5s all;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;

            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }

            li {
                position: relative;
                color: #555555;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 20px;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 7px;
                    left: -14px;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                }
            }            
        } 
        &__back {
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            color: $main-color;
            font-size: 14px;
            font-weight: 500;           
            text-align: center;
            text-decoration: underline;
            text-transform: uppercase;

            &:hover {
                color: $main-color;
            }
        }            

    }
}